*{
  margin: 0;
  padding: 0;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  font-size: 22px;
}
  
.header{
  display: flex;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: #fafafa;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.title{
  margin-left: 3%;
}

.title a{
  text-decoration: none;
  font-weight: bold;
}

.account{
  margin-right: 3%;
  margin-top: 1.2%;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 3px;
  text-indent: 2px;

}

#getOptions{
  padding: 3px;
  border-radius: 1px;
}

#rate{
  padding: 3px;
  width: 8%;
}

#link {
    visibility: hidden;
}

#download{
  margin-left: 28%;
}

#video, #file, #ins-video{
  display: none;
}

#ins-video{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ins-video > .image{
   display: flex;
   flex-direction: row;
}

.cap{
  display: flex;
  justify-content: center;
}

button{
  padding: 3px;
}

button:hover{ cursor: pointer; }

.insfuncs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.operate button{
  padding: 10px 12px;
  font: 1rem sans-serif;
}

.insfuncs .operate2{
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

#sendbutton{
  margin-left: 24%;
  padding: 3px;
}

.item{
  margin: 10px;
  font-size: 22px;
}

.task{
  display: flex;
  background-color: rgb(248, 248, 248);
  margin-top: 6%;
  justify-content: center;
  width: 30%;
}

.task p{
  padding: 3%;
}

.task p:hover, p:active{
  cursor: pointer;
  background-color: blue;
  color: white;
}

#on{
  background-color: green;
  color: white;
}

#on:active{
  background-color: rgb(3, 56, 38);
}

#off{
  background-color: red;
  color: white;
}

#off:active{
  background-color: rgb(246, 38, 1);
}

