<!DOCTYPE html>
<html>

<head>
    <title>Scientific Research - History</title>
    <link rel="icon" type="image/png" href="../static/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <div class="title">
            <h1>Object Detection - YOLO, Flask</h1>
            <p>Designed and coded by
                <a href="https://zalo.me/thanh_nguyen_vq" target="_blank">
                    Thanh Nguyen
                </a>
            </p>
            <p>
                Developed by
                <a href="https://zalo.me/g/lqvyfv904" target="_blank">
                    Scientific Research Group 1- Pham Nam
                </a>
            </p>
        </div>
        <div class="account">
            <p id="user"></p>
            <span id="home">
                <a href="/">Home</a>
            </span> &nbsp;&nbsp;
            <a href="" id="signout">Sign out</a>
        </div>
    </div>
    <br>
    <div class="task">
        <p id="v-file" >
           File
        </p>
        <p  id="v-manual">Manual detection</p>
        <p id="v-auto">Auto detection</p>
    </div>
    <div id="main">
    </div>
    <script src="../static/history.js"></script>
    <script src="../static/js/user.js" type="module"></script>
</body>

</html>